.App {
  text-align: center;
}
 .user-card{
   display:flex;
   justify-content: space-between;
   width:60%;
   margin:1% auto;
 }

 .img-div{
   width:45%;
   margin:0;
 }
 .text-div{
   text-align:left;
   width:45%;
   margin:0;
 }